$color-1: #f06970;
$color-01: #fff000;

$color-bb: #fd363b;

$color-11: #ec1f27;
$color-b1: #0c1117;
$color-b2: #fbd8df;
$color-7: #333;

$color-111: #fd5459;

$color-12: #860c10;

$color-2: #fff;

$color-3: #fff8f2;

$color-4: #fadfcc;

$color-5: #472017;
$color-5: #522116;
$color-51: #212226;

$color-6: #161616;

$color-77: #2c2b2b;

$color-8: #999;

$color-text-1: #777; //

$color-black: #000;

$color-text-2: #2e2c2c;

$color-text-3: #616060;

$default-font-size: 1.6rem;
$font-size-medium: 1.2rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 2rem;
