.footer {
  background-color: $color-11;
  padding: 8rem 0;
  // font-size: 1.4rem;
  color: $color-2;

  background-image: linear-gradient(
    to right bottom,
    rgba($color-77, 0.3),
    rgba($color-11, 0.4)
  );

  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);

  a {
    text-decoration: none;
    color: inherit;
    transition: all 600ms;

    &:hover {
      border-bottom-width: 2px;
      border-bottom-color: black;
      border-bottom-style: groove;
      padding-bottom: 4px;
      text-transform: uppercase;
    }
  }
  h3 {
    text-decoration: underline;
  }

  li {
    // color: $color-2;
    // padding: 2rem;
    margin-bottom: 10px;
    list-style: none;
    // display: inline-block;
  }

  i {
    // background-color: yellow;
    padding: 1rem;
    transition: all 600ms;

    &:hover {
      color: $color-b1;
      transform: scale(1.5);
    }
  }

  @include respond(tab-port) {
    padding: 3rem 4rem;

    // -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%)

    // -webkit-clip-path: polygon(0 0%, 100% 0);
    clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);

    li {
      margin-bottom: 2px;
    }

    .contact {
      margin-top: 11rem;
    }
  }
}
