.footer {
  background-color: $color-11;
  padding: 8rem 0;
  // font-size: 1.4rem;
  color: $color-2;

  background-image: linear-gradient(
    to right bottom,
    rgba($color-77, 0.3),
    rgba($color-11, 0.4)
  );

  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);

  li {
    // color: $color-2;
    // padding: 2rem;
    margin-bottom: 10px;
    list-style: none;
    // display: inline-block;

    &:hover {
      color: $color-b1;
      transform: scale(1.2);
    }
  }

  i {
    // background-color: yellow;
    padding: 1rem;
    transition: all 600ms;

    &:hover {
      color: $color-b1;
      transform: scale(1.5);
    }
  }
}
