nav {
  // background-color: $color-77;
  // position: fixed;
  background-color: transparent;

  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  color: $color-6;
  // background-color: $color-3;
  // color: $color-6;

  // &.active {
  //   background-color: $color-3;
  // }

  // border-bottom: 1px solid $color-5;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  transition: all 0.3s ease-in-out;

  &__logo {
    // color: $color-2;

    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 6.5rem;

    .highlight {
      color: $color-11;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    align-items: center;
    // justify-content: center;
    justify-content: space-between;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      padding: 1rem 1rem;
      color: $color-77;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      text-transform: uppercase;

      //   box-shadow: 0 1rem 2rem rgba($color-6, 0.3);
    }

    &:hover,
    &:active {
      color: $color-b1;
    }
  }

  // &__burger {
  //   display: none;
  //   cursor: pointer;
  //   div {
  //     width: 2.5rem;
  //     height: 0.4rem;
  //     background-color: yellow;
  //     margin: 0.5rem;
  //   }
  // }
}

@include respond(tab-port) {
  .navigation {
    font-size: $font-size-medium;
  }

  // body {
  //   overflow: hidden;
  // }

  // .navigation__list {
  //   position: absolute;
  //   right: 0px;
  //   height: 92vh;
  //   top: 8vh;
  //   background-color: yellowgreen;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   width: 40%;
  //   transform: translateX(100%);
  // }
  // .navigation__item .navigation__link {
  //   color: red;
  //   opacity: 0;
  // }
  // .navigation__burger {
  //   display: block;
  // }
}

// .navigation__burger div:hover {
//   background-color: red;
// }
