.card {
  height: 50rem;
  position: relative;
  width: 50rem;
  box-sizing: border-box;

  // background-color: rgb(180, 176, 176);

  @include respond(tab-port) {
    height: 38rem;
  }

  &__newCollection {
    height: 50rem;

    position: absolute;
    top: 0;
    left: 0;
    // width: 100%;
    border-radius: 3px;
    overflow: hidden;

    padding: 3rem;

    // box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 38rem;
      width: 100%;
      // padding: 1.5rem;
      // background-color: rgb(165, 189, 62);
      padding: 1rem;
    }
  }

  &__picture {
    background-size: cover;
    height: 40rem;
    width: 100%;
    border-top-left-radius: 12rem;
    border-top-right-radius: 12rem;
    border-bottom-left-radius: 12rem;
    border-bottom-right-radius: 12rem;

    box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.9);

    @include respond(tab-port) {
      height: 30rem;
      border-top-left-radius: 6rem;
      border-top-right-radius: 6rem;
      border-bottom-left-radius: 6rem;
      border-bottom-right-radius: 6rem;

      box-shadow: 0 0.2em 2rem -1rem rgba(0, 0, 0, 0.9);
    }
    &--1 {
      background-image: url(../img/pic-3.png);
    }

    &--2 {
      background-image: url(../img/pic-4.png);
    }

    &--3 {
      background-image: url(../img/pic-6.png);
    }

    &--4 {
      background-image: url(../img/pic-33.png);
    }
    &--5 {
      background-image: url(../img/adb1.png);
    }
    &--6 {
      background-image: url(../img/image-2.png);
    }
    &--7 {
      background-image: url(../img/img-11.png);
    }

    &:hover {
      transform: translateY(-0.9rem) scale(1.0025);
      box-shadow: 0 0.3em 2rem -1rem rgba(0, 0, 0, 0.5);
    }
  }

  &__details {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @include respond(tab-port) {
    &__details {
      padding: 1rem;
    }
  }

  // &__price-d,
  // &__price-value {
  // text-align: center;

  // padding: 1rem;
  // }

  &__price-d {
    font-size: 1.6rem;
  }
  &__price-value {
    font-size: 2rem;
    font-weight: 300;
    padding-left: 0.2rem;
  }
}
