.composition {
  position: relative;

  &__photo {
    width: 100%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;

    &--p1 {
      left: 8rem;
      top: -5rem;

      // transform: rotate(-20deg);
    }

    &--p2 {
      width: 80%;
      left: 10rem;
      top: -2rem;

      // transform: rotate(20deg);
    }
  }
}

.about__img {
  width: 70%;
  // padding: 2rem;

  // border-top-right-radius: 15rem;
  margin: 3rem;
  box-shadow: 0 2.5rem 4rem rgba($color-black, 0.4);
  transition: all ease-out;

  &:hover {
    box-shadow: 0 4.5rem 4rem rgba($color-black, 0.4);
    // outline: 6px solid rgba($color-b2, 0.9), rgba($color-6, 0.8);
    // outline-offset: 1.5rem;
    transform: translateY(-0.9rem) scale(1.0025);
  }
}
.right {
  border-top-right-radius: 15rem;
  border-bottom-left-radius: 15rem;

  transform: translateX(40%);
}
.left {
  // float: center;
  border-top-left-radius: 15rem;
  border-bottom-right-radius: 15rem;

  transform: translateX(-50%);
}

@include respond(tab-port) {
  .right {
    border-top-right-radius: 7rem;
    border-bottom-left-radius: 7rem;
  }

  .left {
    border-top-left-radius: 7rem;
    border-bottom-right-radius: 7rem;
  }
}

.right,
.left {
  transition: opacity 250ms ease-in, transform 400ms ease-in;

  opacity: 1;
}

.right.appear,
.left.appear {
  opacity: 1;
  transform: translateX(0);
}

// .stories {
//   position: relative;
//   width: 50rem;

//   &__photo {
//     width: 80%;
//     box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
//     border-radius: 2px;
//     // position: absolute;
//   }
