body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  color: $color-6;
  line-height: 1.7;
}

.heading-primary {
  color: $color-3;
  text-transform: uppercase;
  font-family: " Montserrat";

  margin-bottom: 2rem;
  // z-index: 1000;

  @include respond(tab-port) {
    margin-bottom: 2.5rem;
  }

  &--one {
    display: block;
    font-size: 6rem;
    letter-spacing: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;

    @include respond(tab-port) {
      letter-spacing: 1rem;
      font-size: 2rem;
    }
  }

  &--two {
    display: block;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 2rem;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 3rem;
    }
  }
  &--three {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;

  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  color: $color-12;
  letter-spacing: 1.5rem;
  transition: all 0.2s;

  // border-bottom: 1px solid $color-12;

  background-image: linear-gradient(to right, $color-11, $color-b1, $color-b1);
  -webkit-background-clip: text;
  color: transparent;

  @include respond(tab-port) {
    letter-spacing: 1rem;
    font-size: 3rem;
  }
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.heading-tertiary {
  font-weight: 700;
  font-size: 2rem;
  // text-transform: uppercase;
  color: $color-11;

  // margin-bottom: 4rem;
}
