.section-about {
  background-color: $color-3;
  padding: 15rem 0 25rem 0;
}

.section-newCollection {
  background-color: $color-2;
  padding: 15rem 0;

  position: relative;
}

.section-stories {
  position: relative;
  padding: 10rem 0;
  background-color: $color-3;
}

.section-instagram {
  background-color: $color-3;
  padding: 15rem 0 25rem 0;
}
